extends ./main.jade
block title
	title 联系我们

block content
	style .list{margin: auto;} .item{margin: 1em 0;} .content{display:inline-block;}
	style i.icon, i.icons{font-size: 1.4em;color:#333333;}

	- var active = 3;
	- var list = [{'icon':'building','content':'广州市豪睿建筑防水工程有限公司'},{'icon':'linkify','content':'home.html'},{'icon':'user','content':'王先生'},{'icon':'mobile','content':'18666071218'},{'icon':'mail','content':'2961540655@qq.com'},{'icon':'qq','content':'2961540655'},{'icon':'wechat','content':'18666071218'},{'icon':'marker','content':'广州市番禺区市桥光明北路372号'}];

	div.ui.grid
		div.ul.list.six.wide.column
			div.ui.segment
				h2.ui.header.left.floated 联系方式
				div.ui.divider.clearing
				p
					-for (var i = 0; i < list.length; i++)
						div.item
							i(class="#{list[i].icon} icon")
							div.content #{list[i].content}
