script(src='../lib/jquery.min.js')
script(src='../semantic/dist/components/visibility.js')
script(src='../semantic/dist/components/sidebar.js')
script(src='../semantic/dist/components/transition.js')
	