script(src='../lib/jquery.min.js')
//- script(src='../lib/jade.min.js')
//- script(src='../lib/template.js')

script(src='../js/rainEffect/index.min.js')

script(src='../semantic/dist/components/visibility.js')
script(src='../semantic/dist/components/sidebar.js')
script(src='../semantic/dist/components/transition.js')
	